<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectedPlayer}}
  <span class="caret"></span></button>
  <ul class="dropdown-menu" (click)="selectPlayer($event.target.value)">
    <li *ngFor="let user of users"><button class="btn btn-default" type="button" value="{{user}}">{{user}}</button></li>
  </ul>
  <button [disabled]="!canViewProfile()" class="btn btn-primary" type="button" (click)="viewProfile()">View Profile</button>
</div>
